amqp==5.1.1
asgiref==3.6.0
async-timeout==4.0.3
beautifulsoup4==4.12.2
billiard==4.1.0
bs4==0.0.1
celery==5.3.1
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
coreapi==2.3.3
coreschema==0.0.4
cron-descriptor==1.4.0
Django==4.2.1
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-cors-headers==4.2.0
django-timezone-field==5.1
djangorestframework==3.14.0
drf-yasg==1.21.5
exceptiongroup==1.1.2
flower==2.0.0
humanize==4.7.0
idna==3.4
inflection==0.5.1
iniconfig==2.0.0
itypes==1.2.0
Jinja2==3.1.2
kombu==5.3.1
MarkupSafe==2.1.2
openapi-codec==1.3.2
packaging==23.1
pip==23.1.2
pluggy==1.2.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
psycopg2==2.9.6
pytest==7.4.0
pytest-django==4.5.2
python-crontab==3.0.0
python-dateutil==2.8.2
pytz==2023.3
redis==4.6.0
redis-cli==0.1.2
requests==2.30.0
ruamel.yaml==0.17.26
ruamel.yaml.clib==0.2.7
setuptools==65.5.0
simplejson==3.19.1
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
tomli==2.0.1
tornado==6.3.2
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.2
vine==5.0.0
wcwidth==0.2.6
